.container{
   border:  rgba(201, 164, 170, 0.945) solid ;
   height: 757px;
   margin-top: 25px;
   z-index:+ 1;
   background: url("../../assets/images/option5.jpg");
   background-size: contain;
}

