
.text{
    color: black;
    background-color: rgba(201, 164, 170, 0.945);
    opacity: 0.8;
}

img{
    opacity: 0.85;
    height: 725px;
    margin-top: 10px;
}

.arrow{
    /* background-color: rgba(243, 220, 224, 0.699); */
    margin-top: 5px;
}