

#about{
    /* border: solid rgba(255, 249, 249, 0.63) 1px; */
    width: 100%;
    height: fit-content;
    margin-top: 10%;
    margin-left: -10%;
    background-color: rgba(248, 238, 240, 0.678);
    
}

img{
    width: 475px;
}