

#main{
    border: solid 1px rgb(230, 200, 200);
    height: 300px;
    width: 500px;
    padding:25px;
    text-align: center;
    background-color: rgba(201, 164, 170, 0.945);
    margin:auto;
    margin-top: 18%;
    opacity: 0.95;

   color: white;

}

.Hello{
 font-size: 45px;
 margin-top: 30px;


}

.name{
    font-size: 30px;

    
  
}

.intro{
    padding: 10px; 
}