
.article{
    border: solid 1px black;
    height: 200px;
    width: 350px;
    margin-top: 30%;
    padding:25px;
    margin-left: 10%;
   

}

.Hello{
 font-size: 20px;


}

.name{
    font-size: 30px;
    
  
}